---
---

@import "{{ site.theme }}";

.Logo {
  width: 420px;
  height: 324px;
  background: url('../../images/LogoAnimation_Spritesheet12x12.png');
  margin-top: -5%;
  margin-left: 15%
}

.resume {
  position: realtive;
  margin-top: 5px;
}
